In [1]:
import pandas

# Load the csv files

data_dictionary = pandas.read_csv(r"..\data\original_data\data_dictionary.csv")
products = pandas.read_csv(r"..\data\original_data\products.csv")
sales_pipeline = pandas.read_csv(r"..\data\original_data\sales_pipeline.csv")
sale_teams = pandas.read_csv(r"..\data\original_data\sales_teams.csv")
accounts = pandas.read_csv(r"..\data\original_data\accounts.csv")

In [2]:
data_dictionary

,Table,Field,Description
0,accounts,account,Company name
1,accounts,sector,Industry
2,accounts,year_established,Year Established
3,accounts,revenue,Annual revenue (in millions of USD)
4,accounts,employees,Number of employees
5,accounts,office_location,Headquarters
6,accounts,subsidiary_of,Parent company
7,products,product,Product name
8,products,series,Product series
9,products,sales_price,Suggested retail price
10,sales_teams,sales_agent,Sales agent
11,sales_teams,manager,Respective sales manager
12,sales_teams,regional_office,Regional office
13,sales_pipeline,opportunity_id,Unique identifier
14,sales_pipeline,sales_agent,Sales agent
15,sales_pipeline,product,Product name
16,sales_pipeline,account,Company name
17,sales_pipeline,deal_stage,Sales pipeline stage (Prospecting > Engaging >...
18,sales_pipeline,engage_date,"Date in which the ""Engaging"" deal stage was in..."
19,sales_pipeline,close_date,"Date in which the deal was ""Won"" or ""Lost"""
20,sales_pipeline,close_value,Revenue from the deal

In [4]:
dfs = [products, sales_pipeline, sale_teams, accounts]
names = ["products", "sales_pipeline", "sale_teams", "accounts"]

for i in range(len(dfs)):
    print("\033[32m" + names[i] + "\033[0m")
    dfs[i].info()
    display(dfs[i].describe(include='all'))

products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product      7 non-null      object
 1   series       7 non-null      object
 2   sales_price  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

          product series   sales_price
count           7      7      7.000000
unique          7      3           NaN
top     GTX Basic    GTX           NaN
freq            1      4           NaN
mean          NaN    NaN   6023.571429
std           NaN    NaN   9388.428070
min           NaN    NaN     55.000000
25%           NaN    NaN    823.000000
50%           NaN    NaN   3393.000000
75%           NaN    NaN   5151.500000
max           NaN    NaN  26768.000000

sales_pipeline
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
dtypes: float64(1), object(7)
memory usage: 550.1+ KB

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
count,8800,8800,8800,7375,8800,8300,6711,6711.000000
unique,8800,30,7,85,4,421,306,NaN
top,KAZ72JJ0,Darcel Schlecht,GTX Basic,Hottechi,Won,2017-07-22,2017-05-22,NaN
freq,1,747,1866,200,4238,66,41,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.915512
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2320.670773
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,472.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3225.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30288.000000

sale_teams
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_agent      35 non-null     object
 1   manager          35 non-null     object
 2   regional_office  35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

          sales_agent        manager regional_office
count              35             35              35
unique             35              6               3
top     Anna Snelling  Melvin Marxen            East
freq                1              6              12

accounts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           85 non-null     object
 1   sector            85 non-null     object
 2   year_established  85 non-null     int64
 3   revenue           85 non-null     float64
 4   employees         85 non-null     int64
 5   office_location   85 non-null     object
 6   subsidiary_of     15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.8+ KB

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
count,85,85,85.000000,85.000000,85.000000,85,15
unique,85,10,NaN,NaN,NaN,15,7
top,Acme Corporation,retail,NaN,NaN,NaN,United States,Acme Corporation
freq,1,17,NaN,NaN,NaN,71,4
mean,NaN,NaN,1996.105882,1994.632941,4660.823529,NaN,NaN
std,NaN,NaN,8.865427,2169.491436,5715.601198,NaN,NaN
min,NaN,NaN,1979.000000,4.540000,9.000000,NaN,NaN
25%,NaN,NaN,1989.000000,497.110000,1179.000000,NaN,NaN
50%,NaN,NaN,1996.000000,1223.720000,2769.000000,NaN,NaN
75%,NaN,NaN,2002.000000,2741.370000,5595.000000,NaN,NaN
max,NaN,NaN,2017.000000,11698.030000,34288.000000,NaN,NaN

![dbml_erd.svg](..\data\original_data\dbml_erd.svg)

In [17]:
#show row that has a null value in the account column of the sales_pipeline dataframe
no_acc_transac = sales_pipeline[sales_pipeline['account'].isnull()]

In [79]:
len(no_acc_transac.sales_agent.unique())

27

In [83]:
sales_pipeline.deal_stage.unique()

array(['Won', 'Engaging', 'Lost', 'Prospecting'], dtype=object)

In [31]:
no_acc_transac.deal_stage.unique()

array(['Engaging', 'Prospecting'], dtype=object)

In [10]:
sales_pipeline.account[sales_pipeline.deal_stage == "Prospecting"].value_counts(dropna=False)

account
NaN            337
Plusstrip        5
Donquadtech      5
Faxquote         5
Plussunin        5
              ...
Toughzap         1
Donware          1
Funholding       1
Scottech         1
Golddex          1
Name: count, Length: 74, dtype: int64

In [11]:
sales_pipeline.account[sales_pipeline.deal_stage == "Engaging"].value_counts(dropna=False)

account
NaN            1088
Betasoloin       12
Zoomit           10
Inity            10
Iselectrics      10
               ...
Fasehatice        2
Yearin            2
Ron-tech          2
dambase           1
Doncon            1
Name: count, Length: 86, dtype: int64

In [ ]:
no_acc_transac[no_acc_transac['sales_agent'] == 'James Ascencio']

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
9,HAXMC4IX,James Ascencio,MG Advanced,NaN,Engaging,2016-11-03,NaN,NaN
159,JUCNIG4H,James Ascencio,GTX Basic,NaN,Engaging,2016-12-05,NaN,NaN
174,IBEUTCSW,James Ascencio,MG Advanced,NaN,Engaging,2016-12-08,NaN,NaN
390,QR2BDRAI,James Ascencio,MG Advanced,NaN,Engaging,2017-01-04,NaN,NaN
822,5BXUKFPR,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-02-11,NaN,NaN
913,KM1D04JS,James Ascencio,GTX Plus Basic,NaN,Engaging,2017-02-16,NaN,NaN
1088,X1D1HYMM,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-02-25,NaN,NaN
1175,JSZZN48S,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-02-28,NaN,NaN
1364,9A4H9IAC,James Ascencio,GTX Plus Basic,NaN,Engaging,2017-03-07,NaN,NaN
1419,ZRYPU2QW,James Ascencio,MG Advanced,NaN,Engaging,2017-03-09,NaN,NaN
1435,1B27CZ2M,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-03-10,NaN,NaN
1449,ILR33OAV,James Ascencio,MG Advanced,NaN,Engaging,2017-03-11,NaN,NaN
1627,H2IOHZ8R,James Ascencio,GTX Basic,NaN,Engaging,2017-03-18,NaN,NaN
1815,97PFKCPG,James Ascencio,GTXPro,NaN,Engaging,2017-03-26,NaN,NaN
1816,FB9M4FR7,James Ascencio,MG Special,NaN,Engaging,2017-03-26,NaN,NaN
2022,DQ7GS2BN,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-04-02,NaN,NaN
2487,E4082SMQ,James Ascencio,GTX Basic,NaN,Engaging,2017-04-17,NaN,NaN
2526,U6XJRWV8,James Ascencio,MG Advanced,NaN,Engaging,2017-04-18,NaN,NaN
2682,KTC0RC8I,James Ascencio,MG Special,NaN,Engaging,2017-04-23,NaN,NaN
3259,D85PDC6S,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-05-18,NaN,NaN
3385,K7TV5UBZ,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-05-24,NaN,NaN
3511,8G3HB5S6,James Ascencio,GTX Basic,NaN,Engaging,2017-05-29,NaN,NaN
3608,N7G1TU1X,James Ascencio,MG Advanced,NaN,Engaging,2017-06-02,NaN,NaN
3907,3VC45PML,James Ascencio,GTX Basic,NaN,Engaging,2017-06-14,NaN,NaN
3968,2O76H591,James Ascencio,MG Advanced,NaN,Engaging,2017-06-17,NaN,NaN
4050,RUFJMV3I,James Ascencio,MG Special,NaN,Engaging,2017-06-20,NaN,NaN
4347,3T23AW36,James Ascencio,GTX Plus Basic,NaN,Engaging,2017-06-30,NaN,NaN
4605,QKXCMJVB,James Ascencio,GTX Basic,NaN,Engaging,2017-07-08,NaN,NaN
4904,XRWMLGOG,James Ascencio,MG Advanced,NaN,Engaging,2017-07-18,NaN,NaN
5116,E26Z10W7,James Ascencio,MG Special,NaN,Engaging,2017-07-22,NaN,NaN
5539,1O72EKFY,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-07-31,NaN,NaN
5869,27REMGYU,James Ascencio,GTX Basic,NaN,Engaging,2017-08-12,NaN,NaN
5970,TQJJDWWH,James Ascencio,MG Advanced,NaN,Engaging,2017-08-15,NaN,NaN
6368,KAGK2GQJ,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-09-01,NaN,NaN
6540,EJGRLQP8,James Ascencio,GTXPro,NaN,Engaging,2017-09-08,NaN,NaN
6541,8DDR4MUL,James Ascencio,MG Advanced,NaN,Engaging,2017-09-08,NaN,NaN
6591,34XWXEQE,James Ascencio,GTXPro,NaN,Engaging,2017-09-10,NaN,NaN
6625,77IBMLTB,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-09-11,NaN,NaN
6794,UU7N7LZK,James Ascencio,MG Advanced,NaN,Engaging,2017-09-18,NaN,NaN
7041,FSYTM6YE,James Ascencio,GTXPro,NaN,Engaging,2017-09-27,NaN,NaN
7116,NX28C8EI,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-09-30,NaN,NaN
7656,YQJGEI71,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-10-19,NaN,NaN
7886,OMCFUDOU,James Ascencio,GTXPro,NaN,Engaging,2017-10-31,NaN,NaN
7946,NNNEMOZ5,James Ascencio,GTX Plus Pro,NaN,Engaging,2017-11-05,NaN,NaN

In [30]:
sales_pipeline[(sales_pipeline['sales_agent'] == 'James Ascencio') & (sales_pipeline['product'] == 'MG Advanced')]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
9,HAXMC4IX,James Ascencio,MG Advanced,NaN,Engaging,2016-11-03,NaN,NaN
174,IBEUTCSW,James Ascencio,MG Advanced,NaN,Engaging,2016-12-08,NaN,NaN
390,QR2BDRAI,James Ascencio,MG Advanced,NaN,Engaging,2017-01-04,NaN,NaN
490,VKT0UN11,James Ascencio,MG Advanced,Codehow,Engaging,2017-01-14,NaN,NaN
914,RNUH1SI8,James Ascencio,MG Advanced,Kan-code,Won,2017-02-16,2017-05-07,3398.0
1149,ZI1MPYF3,James Ascencio,MG Advanced,Dalttechnology,Won,2017-02-27,2017-06-05,3813.0
1281,JA0D4V57,James Ascencio,MG Advanced,Y-corporation,Won,2017-03-04,2017-05-09,3685.0
1419,ZRYPU2QW,James Ascencio,MG Advanced,NaN,Engaging,2017-03-09,NaN,NaN
1449,ILR33OAV,James Ascencio,MG Advanced,NaN,Engaging,2017-03-11,NaN,NaN
1836,XR57MBVC,James Ascencio,MG Advanced,Finjob,Won,2017-03-27,2017-05-01,3492.0
2278,O08NQM1J,James Ascencio,MG Advanced,Cheers,Lost,2017-04-10,2017-04-11,0.0
2488,QZ2E9TSL,James Ascencio,MG Advanced,Golddex,Lost,2017-04-17,2017-08-12,0.0
2526,U6XJRWV8,James Ascencio,MG Advanced,NaN,Engaging,2017-04-18,NaN,NaN
2717,GWRN1R49,James Ascencio,MG Advanced,Scotfind,Won,2017-04-24,2017-05-05,3042.0
3068,QO0MQUOY,James Ascencio,MG Advanced,Labdrill,Lost,2017-05-10,2017-08-11,0.0
3512,9KTHISLX,James Ascencio,MG Advanced,Lexiqvolax,Lost,2017-05-29,2017-08-18,0.0
3608,N7G1TU1X,James Ascencio,MG Advanced,NaN,Engaging,2017-06-02,NaN,NaN
3968,2O76H591,James Ascencio,MG Advanced,NaN,Engaging,2017-06-17,NaN,NaN
3992,H176AX96,James Ascencio,MG Advanced,Gekko & Co,Engaging,2017-06-18,NaN,NaN
4668,6WR7JQ3C,James Ascencio,MG Advanced,Labdrill,Won,2017-07-10,2017-11-03,3624.0
4904,XRWMLGOG,James Ascencio,MG Advanced,NaN,Engaging,2017-07-18,NaN,NaN
5454,GJQFUUWI,James Ascencio,MG Advanced,Sunnamplex,Won,2017-07-29,2017-08-02,3260.0
5746,RB54V758,James Ascencio,MG Advanced,Sunnamplex,Won,2017-08-07,2017-08-17,3039.0
5900,8H0UQYXW,James Ascencio,MG Advanced,Kan-code,Won,2017-08-13,2017-11-07,3972.0
5970,TQJJDWWH,James Ascencio,MG Advanced,NaN,Engaging,2017-08-15,NaN,NaN
6541,8DDR4MUL,James Ascencio,MG Advanced,NaN,Engaging,2017-09-08,NaN,NaN
6794,UU7N7LZK,James Ascencio,MG Advanced,NaN,Engaging,2017-09-18,NaN,NaN
6873,JYNYK957,James Ascencio,MG Advanced,Labdrill,Won,2017-09-21,2017-12-02,3063.0
7739,VCQBM844,James Ascencio,MG Advanced,Cheers,Won,2017-10-22,2017-10-30,3294.0
7779,L8POFR0T,James Ascencio,MG Advanced,Finjob,Won,2017-10-24,2017-12-31,3296.0

In [80]:
no_acc_transac[no_acc_transac['deal_stage'] == 'Engaging']

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
9,HAXMC4IX,James Ascencio,MG Advanced,NaN,Engaging,2016-11-03,NaN,NaN
42,EG7OFLFR,Kami Bicknell,GTX Basic,NaN,Engaging,2016-11-14,NaN,NaN
44,OLVI7L8M,Cassey Cress,GTXPro,NaN,Engaging,2016-11-16,NaN,NaN
56,F5U1ACDD,Kami Bicknell,GTX Plus Basic,NaN,Engaging,2016-11-19,NaN,NaN
60,ZZY4516R,Hayden Neloms,MG Advanced,NaN,Engaging,2016-11-20,NaN,NaN
...,...,...,...,...,...,...,...,...
8271,T6MPH7JC,Violet Mclelland,MG Special,NaN,Engaging,2017-12-17,NaN,NaN
8277,NGTVHTFH,Boris Faz,GTXPro,NaN,Engaging,2017-12-19,NaN,NaN
8285,HCQK8NQ8,Wilburn Farren,GTX Plus Basic,NaN,Engaging,2017-12-20,NaN,NaN
8286,RDHTQLNI,Cassey Cress,GTX Plus Pro,NaN,Engaging,2017-12-21,NaN,NaN
8290,DB801ISB,Elease Gluck,MG Special,NaN,Engaging,2017-12-22,NaN,NaN

In [24]:
no_acc_transac[no_acc_transac.close_date.notnull()]

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value]
Index: []

In [25]:
no_acc_transac[no_acc_transac['deal_stage'] == 'Prospecting']

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
8301,3LCLVRVV,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8302,YIU1B39V,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8303,8E0VRCLW,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8304,G99CS23F,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8305,XRJ54GNR,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

- known-company stale engaging  after x day
- known-company stale prospecting  after y day
- unknown-company stale engaging after i day
- unknown-company stale prospecting after j day